   torch
   transformers
   scikit-learn
   pandas
   numpy
   accelerate>=0.26.0
   matplotlib
   googletrans==4.0.0-rc1
   seaborn
   stanza
   deep-translator
   syllabreak-python
   pandas>=2.0
   numpy
   scipy
   statsmodels
   openpyxl
   matplotlib
   torch
   transformers
   openpyxl

# LMEM (this package alone is NOT enough, R + lme4/lmerTest/emmeans are also required)
   pymer4==0.8.2
   rpy2==3.5.16